a {
   margin-left: 14px;
    font-size: 15px;
    font-weight:600;
}

a.active {
    /* background-color: rgb(229, 230, 230);  */
     color: #2C7BE5;
    background-color: aliceblue;
    padding: 2px 4px;
    border-radius: 4px;
}